.main-heading {
  text-align: center;
  color: red;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background-color: transparent;
  color: #2ecc71;
  padding: 12px 24px;
  border: 2px solid #2ecc71;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #2ecc71;
  color: white;
}
